<head>
	
	<link rel="stylesheet" type="text/css" href="app.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	

	<header>
		<h1>todo<span>list</span></h1>

		<h2>A simple todo list app built with nodejs</h2>

	</header>

	<section class="form">
		
		<input type="text" id="todoInput" placeholder="Insert your text here">
	</section>


	<ul class="list">
		

	</ul>









<script type="text/javascript" src="app.js"></script>
</body>